#!/bin/bash

#while read line; do
#	export "$line"
#done < <(/usr/bin/dbus-launch) 
#
#rm "/home/tsuro/.gnome2/ssh-agent.env"
#while read line; do
#	export $line
#done < <(/usr/bin/gnome-keyring-daemon --start --components=ssh,gpg)

##echo "$line" >> "/home/tsuro/.gnome2/ssh-agent.env"

export XMODIFIERS="@im=ibus"
export GTK_IM_MODULE="ibus"
export QT_IM_MODULE="xim"
/usr/bin/nm-applet &
/usr/bin/ibus-daemon -d -x &
/usr/bin/urxvtd -q -o -f &
/usr/bin/xscreensaver -nosplash &
#/usr/bin/systemd &

